.header-container,
.logo-container,
.links-container {
    display: flex;
    align-items: center;
}

.header-container {
    font-family: Epilogue;
    justify-content: space-between;
    background-color: #00A2E1;
    color: #FFF;
    height: 60px;
    padding: 0px 30px;
}

.logo-container {
    justify-content: flex-start;
}
.links-container {
    justify-content: space-evenly;
    width: 35%;
}   

.header-container img {
    align-self: center;    
}

.links-container img {
    width: 8%;
}

.links-container h6 {
    font-size: 10px;
    width: 34%;
    display: flex;
    padding-top: 8px;
}

